<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo Spring Boot</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/5.13.0/css/all.min.css">
<link ref="stylesheet" type="text/css" th:src="@{/css/mystyle.css}"
	href="/css/mystyle.css">
</head>
<body>
	<div th:replace="fragments/header::header"></div>

	<div class="container">
		<br /> <br />
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h4>Detail Book</h4>
					</div>
				</div>
				<br />
				<p th:text="${book.code}"></p>
				<p th:text="${book.title}"></p>
				<p th:text="${book.author}"></p>
				<p th:text="${book.descriptions}"></p>
			</div>
			<div class="col-lg-4"></div>
		</div>
		<br />
	</div>

	<div th:replace="fragments/footer::footer"></div>
</body>
</html>